@namespace oxy "http://www.oxygenxml.com/extensions/author";
* {
    -oxy-display-tags:none;
}
pb[facs] {
    content: attr(facs,url);
    width: 500px;
    display: block;
    /*margin-left: auto;*/
    /*margin-right: 5px;*/
    /*margin-top: -500px;*/
}
supplied::before {
    content: '{'
}
supplied::after {
    content: '}'
}
date {
    content: attr("when");
}
language {
    content: oxy_concat("(",attr("ident"),"): ");
}
rendition {
    display: none;
}
w[next]::before, w[prev]::before {
    content: oxy_xpath(oxy_concat("following-sibling::tei:join[contains(@target,'",attr("xml:id"),"')]/@lemma"));
    display:none
}
w[next], w[prev] {
    background-color: rgb(220,220,220)
}
w[next]:hover::before, w[prev]:hover::before, w[next]:focus::before, w[prev]:focus::before {
    display:inline
}
join[target]::before {
    content: "("
}
join[target]::after {
    content: ")"
}
join[target] {
    content: oxy_concat(attr(lemma),oxy_xpath('if (@pos) then concat(": ",@pos) else ""'));
    font-style:italic
}
oxy|comment {
    display: none !important
}